body {

	margin: 0;
	
	font-family: 'Oswald', sans-serif;
	font-family: 'Podkova', serif;
	font-size: 24px;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;

	background:url("img/ggall.png");
   
}		

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;


}

/* Header */
/*=================*/

.header{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	
}

.header__inner{
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	align-items: center;

	border-bottom: 2px solid #5c2715;
}

/* Nav */
/*===========*/

.nav{
	display: flex;	
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link{
	margin-left: 50px;
	color: #461c0d;
	text-decoration: none;
	opacity: 0.9;
	font-weight: 700;
	height: 7em;
	line-height: 7em;


	transition: opacity 0.1s linear;
}

.nav__link:first-child{
	margin-left: 0px;
}

.nav__link:hover{
	text-decoration: underline;
	opacity: 1;
}

.nav__tell{
	margin-left: 200px;
	color: #461c0d;
	text-decoration:none;
	height: 7em;
	line-height: 7em;
}

.nav__tell:hover{
	text-decoration: underline;
}

/* Intro */
/*=================*/
 
 .intro {
 	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 880px;
    padding-top: 200px;

    background: #fff url("img/bg.jpg") center no-repeat;
    background-size: cover;
 }

.intro__inner{
	width: 100%;
    max-width: 970px;
    margin: 0 auto;
    margin-top: -7%;

    text-align: center;
}

.intro__title {
    margin-bottom: -20px;

    font-family: 'Podkova', serif;
    font-size: 30px;
    color: #000;
    font-weight: 800;
   
}

.intro__subtitle {

    font-size: 22px;
    color: #000;
}

.tell{
	color: #000;
	text-decoration: none;
}

/* Button
===================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 18px 60px;

    border-radius: 4px;
    border: 0;
    cursor: pointer;

    font-family: 'Podkova', serif;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    margin-bottom: 20px;

    transition: background .1s linear;
}

.btn--red {
	background-color: #724c0f;
}

.btn--red:hover{
	background-color: #563706;

}

/* History
=======================*/

.history{
	
	



	border-bottom: 2px solid #5c2715;
}

.history__title{
	color: #461c0d;
	font-size: 40px;
	font-weight: 800;
    text-align: center;
}

.history__icon{
	float: left;
	margin-right: 5px;
}

.history__item{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	
}

/* Fichers
=====================*/

.fichers{
	display: flex;


	border-bottom: 2px solid #5c2715;
}

.fichers__title{
	color: #461c0d;
	font-size: 40px;
	font-weight: 800;
    text-align: center;
}

.fichers__item{
	width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;

    text-align: center;
}

.fichers__text{
	font-size: 35px;
	font-weight: 700;
	
	color: #461c0d;
	
}

/* Rules
===================*/

.rules{
	display: flex;
	flex-wrap: wrap;

	margin:10px 0;

	border-bottom: 2px solid #5c2715;
}

.rules__title{
	color: #461c0d;
	font-size: 30px;
	font-weight: 800;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.rules__text{
	font-family: 'Oswald', sans-serif;
	color:#000;
	font-weight: 700;
	font-size: 19px;
	margin-left: 20px;
	float: left;


}

.rulesone{
	color:#5c2715;
	font-weight: 800;
	text-decoration: underline;
	font-size: 21px;
	margin-left: -20px;
	justify-content: center;

}

.rules__item{
	margin-left: 22%;

	text-align: center;
}

/*price
=========================*/
.prices{

	

	border-bottom: 2px solid #5c2715;
	
}

.prices__title{
	font-family: 'Podkova', serif;
	color: #461c0d;
	font-size: 40px;
	font-weight: 800;
    text-align: center;
   
}

.tabletwo{
	display: none;
	
	
	
}

table {
    overflow:hidden;
    border:1px solid #5c2715; /*обводка*/
    background:#fefefe;
    width:80%;
    margin:5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
 
}
 
th, td {
    padding:18px 28px 18px; 
    text-align:center; 
}
 
th {
    padding-top:22px; 
    text-shadow: 1px 1px 1px #fff;
    background:#e8eaeb;
    width: 33%;
    
 

}
 
td {
    border-top:1px solid #5c2715; /*лінії горизонтальні*/
    border-right:1px solid #5c2715; /*лінії вертікальні*/

}
 
tr.odd-row td {
    background:#f6f6f6;
 
}
 
td.first, th.first {
    text-align:left
}
 
td.last {
    border-right:none;
}
 
td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
   
}
 
tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));

}
 
th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));

}
 
tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}
 
tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

/* Contact
===================*/

.con{
	display: flex;
	margin: 30px 0;
	font-family: 'Oswald', sans-serif;
	
	border-bottom: 2px solid #5c2715;
}

.con__title{
	font-family: 'Podkova', serif;
	color: #461c0d;
	font-size: 30px;
	font-weight: 800;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.con__text{
	font-family: 'Oswald', sans-serif;
	color:#000;
	font-weight: 700;
	font-size: 19px;
	margin-left: 70px;
}

.con__item{
	width: 33.33333%;

	text-align: center;

	margin-bottom: 30px;
}


/* Media 
=======================*/


@media only screen and (max-width : 1115px){

	.ggg{
		width: 250px;
		height: 250px;
	}

	.nav{
		display: none;
	}

	.header__logo{
		margin:0 auto;
	}
}

@media only screen and (max-width : 960px){

	.ggg{
		width: 200px;
		height: 200px;
	}

	.history__icon{
		display: none;
	}

}

@media only screen and (max-width : 790px){

	.con__img{
		width: 150px;
		height: 150px;
	}

	.con__name{
		margin-left: -60px;
		font-size: 20px;
	}

	.con__item{
		margin-left: 5%;
	}

	.imgg{
		display: none;
	}

	.rulesone{
		margin: 0;
	}

	.rules__text{
		margin: 0;
	}

	.rules__item{
		margin: 0;
		margin-left: 7%;
		float: left;
	}

	.history__text{
		font-size: 21px;
	}

	.history__title{
		font-size: 33px;
	}

	.fichers__title{
		font-size: 35px;
	}

	.fichers__text{
		font-size: 27px;
	}

	.rules__title{
		font-size: 25px;
	}

}

@media only screen and (max-width : 700px){
	.ggg{
		width: 150px;
		height: 150px;
		margin: 0 auto;
	}

	.fichers__text{
		display: none;
	}
}

@media only screen and (max-width : 565px){

	.con__img{
		width: 120px;
		height: 120px;
	}

	.rulesone{
		font-size: 18px;
	}

	.rules__text{
		font-size: 18px;
	}

	.rules__item{
		margin: 0;
		margin-left: 1%;
		float: left;
	}

	.ggg{
		margin-left: -25%;
	}

	.history__text{
		font-size: 21px;
	}

	.history__title{
		font-size: 30px;
	}

	.fichers__title{
		font-size: 32px;
	}

	.fichers__text{
		font-size: 27px;
	}

	.rules__title{
		font-size: 20px;
	}

	.con__title{
		font-size: 25px;
	}

}

@media only screen and (max-width : 440px){


	.con__img{
		display: none;
	}

	.ggg{
		margin-left: -85%;
	}

	.history__text{
		font-size: 16px;
	}

	.table{
		display: none;
	}

	.tabletwo{
		display: block;
	}

	.fichers{
		display: flex;
		flex-wrap: wrap;
	}

	.history__icon{
		display: none;
	}

	.intro__title{
		font-size: 25px;
	}

	.intro__sutitle{
		font-size: 20px;
	}

	.imgg{
		display: none;
	}
}

@media only screen and (max-width : 422px){

	.ggg{
		width: 100px;
		height: 100px;
		margin-left: -55%;

	}

	.con__name{
		font-size: 15px;
		margin:0 auto;
	}

}

@media only screen and (max-width : 360px){

	.ggg{
		margin-left: -120%;

	}

	.con__text{
		font-size: 15px;
		margin-left: 1%;
	}

}

@media only screen and (max-width : 330px){

	.ggg{
		margin-left: -200%;

	}

}

@media only screen and (max-width : 335px){
	.header__logo{
		display: none;
	}
}

@media only screen and (max-width : 320px){

	.ggg{
		margin-left: -250%;
	}
	
	.tabletwo{
		width: 30%;
	}
}